root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/web ./cmd/web"
bin = "./tmp/web"
full_bin = "APP_ENV=development ./tmp/web"
delay = 100 # ms
exclude_dir = ["tmp", "vendor"]
exclude_file = []
exclude_regex = ["_test.go"]
include_dir = []
include_ext = ["go", "tpl", "tmpl", "html"]
kill_delay = "0s"
log = "build-errors.log"
send_interrupt = false
stop_on_error = true

[log]
time = false

[color]
main = "magenta"
watcher = "cyan"
build = "yellow"
runner = "green"

[misc]
clean_on_exit = true