services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.dev
    container_name: golang-clean-arch-app
    env_file:
      - .env
    ports:
      - "${WEB_PORT}:${WEB_PORT}"
    volumes:
      - ./:/app
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres:17-alpine
    container_name: golang-clean-arch-postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "${DB_POST}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
